OPENAI_API_KEY=replace_me
BASE_URL=https://api.openai.com
MODEL_NAME=gpt-4o-mini
MCP_SERVER_URL=http://127.0.0.1:8081
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=tianji
MYSQL_PASSWORD=tianji123
MYSQL_DATABASE=tianji
ELASTICSEARCH_URL=http://127.0.0.1:9200
NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_NAMESPACE=public
